# =======================================
# Obsidian 设备相关的临时界面状态
# =======================================

.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json

# =======================================
# Obsidian 回收站
# =======================================

.trash/

# =======================================
# 操作系统产生的文件
# =======================================

.DS_Store
Thumbs.db
Desktop.ini

# =======================================
# 本地编辑器配置
# 如果确实需要跨设备共享，可删除对应规则
# =======================================

.vscode/
.idea/

# =======================================
# 插件敏感配置
# 请检查实际插件后逐个启用，不要盲目忽略所有 data.json
# =======================================

# .obsidian/plugins/obsidian-git/data.json
# .obsidian/plugins/<插件ID>/data.json




# Ignore Smart Environment folder
.smart-env